<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to declare_home_winner_path(id: @match), method: :post do %>
  <%= @match.away_member.email %>
<% end %>
vs
<%= link_to declare_away_winner_path(id: @match), method: :post do %>
  <%= @match.home_member.email %>
<% end %>

<% unless @match.status == "playing" %>
  <% if @match.winner == "home" %>
    <%= @match.home_member.email %> won!
    <%= @match.away_member.email %> lost!
  <% else %>
    <%= @match.away_member.email %> won!
    <%= @match.home_member.email %> lost!
  <% end %>
<% end %>
