<div class="container">
  <%= link_to start_path(@battle) do %>
    <% if @matches.present? %>
      Reset
    <% else %>
      Start
    <% end %>
  <% end %>

  <% if @matches.present? %>
    <div class="matches">
      <% @matches.each do |match| %>
        <div class="battle-match">
          <%= link_to declare_winner_path(id: match.id, winner: "home"), method: :post, class: "home-team-player" do %>
            <div class="player-card <%= status_tags(match, "home") %>">
              <span class="player-username">
                <%= match.home_member.username %>
              </span>
              <span class="player-rating">
                <%= match.home_member.rating %>
              </span>
            </div>
          <% end %>
          <span class="versus">
            vs
          </span>
          <%= link_to declare_winner_path(id: match.id, winner: "away"), method: :post, class: "away-team-player" do %>
            <div class="player-card <%= status_tags(match, "away") %>">
              <span class="player-rating">
                <%= match.away_member.rating %>
              </span>
              <span class="player-username">
                <%= match.away_member.username %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= @battle.home_team.name %> vs <%= @battle.away_team.name %>
  <table>
    <% @home_team_members.each_with_index do |member, index| %>
      <tr>
        <td><%= index + 1 %><%= member.email %> <%= member.rating %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <table>
    <% @away_team_members.each_with_index do |member, index| %>
      <tr>
        <td><%= index + 1 %><%= member.email %> <%= member.rating %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
  <div class="battle-score">
    <span class="home-score">
      <%= @battle.matches.pluck(:winner).count("home") %>
    </span>
    <span class="divider">
      :
    </span>
    <span class="away-score">
      <%= @battle.matches.pluck(:winner).count("away") %>
    </span>
  </div>

  <section>
    <div class="development">
      <% @battle.matches.each_with_index do |_match, index| %>
        Home score: <%= @battle.score_up_to_now(index + 1)[:home] %>
        Away score: <%= @battle.score_up_to_now(index + 1)[:away] %>
        <br>
      <% end %>
    </div>
  </section>
</div>

